<!-- Toolbar -->
<section class="Front-End-Test---Home-view">
  <div class="toolbar" role="banner">
    <span class="hacker-news">HACKER NEWS</span>
    <div class="spacer"></div>
    <a aria-label="hacker news" target="_blank" rel="noopener" title="hackerNews">
    </a>
  </div>
  <article class="d-flex justify-content-center">
    <div class="Rectangle-all">
      <span class="All">All</span>
    </div>
    <div class="Rectangle-my-faves">
      <span class="My-faves">My faves</span>
    </div>
  </article>
  <article class="d-flex justify-content-center">
    <app-news-details></app-news-details>
    <app-news-details></app-news-details>
  </article>
  <app-pagination></app-pagination>
</section>